section .banner-brand-wrap{
		background: #fff;
		max-height: 130px;
	} 
	.container .banner-brand-wrap{
		height: 130px
	}
	.banner-brand{
		height: 130px;
		background: #fff;
		margin: 30px 0 30px;
	    margin-top: -80px;
	}
	.owl-carousel{
		position: relative;
		width: 100%
	}
	.owl-carousel .owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	#owl-brand .item{
		padding: 50px 0;
		text-align: center;
		width: 100%
	}
	.owl-carousel .owl-item{
		float:left
	}
	.owl-carousel .owl-item img{
		display:block;
		width: auto;
	}